@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    background-color: #191919;
}

#section {
    background-color: #eeeeee;
}
.title h1 {
    font-family: 'Lobster', cursive;
    /* font-family: 'Updock'; */
    font-size: 60px;
    font-weight: 900;
    text-decoration: underline rgba(205, 0, 0, 0.605);
}
.title h1 span {
    color: rgba(205, 0, 0, 0.605);
}
#price {
    font-family: 'Lobster', cursive;
    /* font-family: 'Updock'; */
    font-size: 25px;
}
#meal-title {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    font-weight: 600;
}
.btn {
    font-size: 18px;
    font-weight: 700;
}

.dark-mode-toggle {
    position: fixed;
    top: 50px;
    right: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    transform: scale(2);
    transition: .6s;
  }
  .light-mode-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: white;
    transition: .6s;
  }
  .darkmode {
      background-color: #191919;
      color: white;
      transition: .6s;

  }
  .lightmode {
    background-color: white;
    color: #191919;
    transition: .6s;

}
